<!--<footer class="footer">-->
<!--  <div class="row align-items-center justify-content-xl-between">-->
<!--    <div class="col-xl-6">-->
<!--      <div class="copyright text-center text-xl-left text-muted">-->
<!--        &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-xl-6">-->
<!--      <ul class="nav nav-footer justify-content-center justify-content-xl-end">-->
<!--        <li class="nav-item">-->
<!--          <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Creative Tim</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="https://www.creative-tim.com/presentation?ref=ada-footer-admin-layout" class="nav-link" target="_blank">About Us</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="http://blog.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank">Blog</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<footer class="bg-white text-danger py-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <h4 class="text-danger">Contactez nous </h4>
      </div>
      <div class="col-md-4 text-center">
        <p class="font-weight-bold">Email: contact@esprit.tn</p>
        <p class="font-weight-bold">Telephone: (216) 70 250 000</p>
      </div>
      <div class="col-md-4 text-center">
        <!-- Add your social media icons here -->
        <a href="https://www.facebook.com/esprit.tn" class="text-danger pr-3" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/esprit_ingenieur/" class="text-danger pr-3" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCJ5wuQ9AQYtpf9Arieu3iXA" class="text-danger pr-3" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/school/esprit_2/" class="text-danger" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>


