<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/students11.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{ firstName }}  {{ lastName }}</h1>
        <p class="text-white mt-0 mb-5">Bienvenue dans votre espace personnel sur le tableau de bord. Nous sommes ravis de vous accueillir, {{ firstName }} ! Cet espace dédié est conçu pour répondre à vos besoins spécifiques et vous offrir une expérience personnalisée</p>
        <a  class="btn btn-info" (click)="onSubmit()">modifier le profile</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2 pt-5">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
       
     
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a  class="btn btn-sm btn-primary" (click)="toggleInputs()">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="infoForm">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Email address</label>
                  <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" name="email"  [(ngModel)]="email" [disabled]="inputsDisabled">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-first-name">First name</label>
                  <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" name="firstName"  [(ngModel)]="firstName" [disabled]="inputsDisabled">
                </div>

              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-last-name">Last name</label>
                  <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" name="lastName" [(ngModel)]="lastName" [disabled]="inputsDisabled">
                </div>
                                <!-- Display validation error if lastName is invalid -->
                <div *ngIf="form.lastName.invalid && (form.lastName.dirty || form.lastName.touched)" class="text-danger">
                  <div *ngIf="form.lastName.errors.invalidLastName">Invalid last name.</div>
                </div>
              </div>
            </div>
            
       
            
            
   
          </form>
        </div>
      </div>
    </div>
  </div>
</div>