<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-gradient-pink border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Equipements</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-primary" (click)="openDialog()">
                    <i class="fas fa-plus" style="margin-right: 10px;"></i>Ajouter un équipement
                  </button>
                </div>
              </div>
            </div>
            <div class="bg-gradient-pink">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="bg-gradient-pink">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom de l'équipement</th>
                  <th scope="col">Prix de l'équipement</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let equipement of equipements" (click)="onSelectEquipement(equipement)">
                  <th scope="row">{{ equipement.idEquipement }}</th>
                  <td>{{ equipement.nom }}</td>
                  <td>{{ equipement.prixEquipement }}</td>
                  <td class="text-right">
                    <button type="button" class="btn btn-sm btn-primary" (click)="openEditDialog(equipement.idEquipement, equipement.nom, equipement.prixEquipement)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteEquipement(equipement.idEquipement)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
