<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">reservations</h3>
                </div>

                <div class="col-4 text-right">
                  <button type="button" class="btn btn-info" style="background-color: green;" (click)="openDialog()">
                    <i class="fas fa-plus" style="margin-right: 10px;"></i>Ajouter un reservation
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">anneeUniversitaire</th>
                  <th scope="col">Validiter</th>
                  <th scope="col">Restaurant</th>


                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reservation of reservations">
                  <th scope="row">{{ reservation.idReservation }}</th>
                  <td>{{ reservation.anneeUniversitaire }}</td>
                  <td>{{ reservation.estValide }}</td>
                  <td>{{ reservation.restaurant ? reservation.restaurant.nomRestaurant : 'N/A' }}</td>



                  <td>

                    <button class="btn btn-info" (click)="openEditDialog">Edit</button>
                    <button class="btn btn-info" style="background-color: red;" (click)="deleteReservation(reservation.idReservation)">Delete</button >

                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

    </div>
  </div>
</div>
