<!-- Header -->
<div class="header bg-gradient-danger py-7 py-lg-8">

  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
       
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign up with Credentials</small>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" formControlName="firstName" placeholder="Name" type="text" [(ngModel)]="firstName">
              </div>
            <div class="form-group"></div>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text" [(ngModel)]="lastName">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" formControlName="email" placeholder="Email" type="email" [(ngModel)]="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" formControlName="password" placeholder="Password" type="password" [(ngModel)]="password" (keyup)="checkPasswordStrength()">
              </div>
            </div>
            <div class="text-muted font-italic">
              <small>password strength:
                <span [ngClass]="{'text-success': passwordStrength === 'strong', 'text-danger': passwordStrength === 'weak'}" class="font-weight-700">
                  {{ passwordStrength }}
                </span>   
                 <i class="fas fa-info-circle ml-2" data-toggle="tooltip" data-placement="top" title="At least one lowercase letter ([a-z]). At least one uppercase letter ([A-Z]). At least one digit ([0-9]). At least one special character ([!@#\$%\^&\*]). Minimum length of 8 characters (.{8,})."></i>

              </small>    
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
