<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Foyers</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-info" (click)="openDialog()">
                    <i class="fas fa-plus" style="margin-right: 10px;"></i>Ajouter un Foyer
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom du Foyer</th>
                  <th scope="col">Capacité du Foyer</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let foyer of foyers">
                  <th scope="row">{{ foyer.idFoyer }}</th>
                  <td>{{ foyer.nomFoyer }}</td>
                  <td>{{ foyer.capaciteFoyer }}</td>
                  <td class="text-right buttons-column">
                    <div>
                      <button type="button" class="btn btn-sm btn-primary" (click)="openEditDialog(foyer.idFoyer, foyer.nomFoyer, foyer.capaciteFoyer)">
                        <i class="fas fa-pencil-alt"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-danger" (click)="deleteFoyer(foyer.idFoyer)">
                        <i class="fas fa-trash"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/foyer/consulterblocs', foyer.idFoyer]">
                        <i class="fas fa-eye"></i> Consulter les blocs
                      </button>
                      <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/foyer/suggestion', foyer.idFoyer]">
                        <i class="fas fa-plus-circle"></i> Suggestions
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .buttons-column {
    margin-bottom: 0;
  }

  .buttons-column .btn {
    margin-right: 5px;
    min-width: 80px;
  }
</style>
