<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Table -->

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Bibliothèque</h3>
                </div>
                <div class="col-4 text-right">
                  <a class="btn btn-sm btn-primary" (click)="openDialog(idBloc)">Ajouter une bibliothèque</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Titre bibliothèque</th>
                  <th scope="col">Description Bibliothèque</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="bibliothequeAssociee">
                  <th scope="row">{{ bibliothequeAssociee.idBibliotheque }}</th>
                  <td>{{ bibliothequeAssociee.titreBibliotheque }}</td>
                  <td>{{ bibliothequeAssociee.descriptionBibliotheque }}</td>
                  <td class="text-right buttons-column">

                  <button type="button" class="btn btn-sm btn-primary" (click)="openEditDialog(bibliothequeAssociee.idBibliotheque, bibliothequeAssociee.titreBibliotheque, bibliothequeAssociee.descriptionBibliotheque)">Edit
                          <i class="fas fa-pencil-alt"></i>
                        </button>

                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteBibliotheque(bibliothequeAssociee.idBibliotheque)">Delete
                          <i class="fas fa-trash"></i>
                        </button>



                    <div class="qr-code">
                      <qr-code [value]="qrCodeText" [size]="60"></qr-code>
                    </div>

                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
