<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-gradient-pink border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Détails des blocs</h3>
                </div>
              </div>
            </div>
            <div class="card-body bg-gradient-pink">
              <div class="row">
                <div class="col-md-6">
                  <h5>ID du bloc: <span>{{ bloc?.idBloc }}</span></h5>
                  <h5>Nom du bloc: <span>{{ bloc?.nomBloc }}</span></h5>
                  <h5>Capacité du bloc: <span>{{ bloc?.capaciteBloc }}</span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="row ">
          <div class="col">
            <app-bibliotheque [idBloc]="idBloc"></app-bibliotheque>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
